/*#F6F4F2 - Light Whitegray
  #425664 - Darkish Gray
  #C6AD8F - Dark Sand
    Complimentary Colors
  #938fc6 - cornflower blue
  #c68fc1 - dusty pinkish purple
  #c1c68f - muted greenish sand
*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
/*Google font: font-family: 'Atkinson Hyperlegible', sans-serif;*/
html {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 0;
    background: url('../Images/grayTexturedBackground.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    width: 90%;
    margin: auto;
}

header {
    background-color: #C6AD8F;
    opacity: .95;
    padding-left: 1em;
    margin: auto;
}

.headerTitle {
    margin-bottom: 0;
    padding-top: .5em;
}

p.headerProverb {
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 1em;
}


/*Navigation styling*/
nav {
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
}

main {
    opacity: .8;
    padding: 1em;
    margin: auto;
    padding-bottom: 1.75em;
    background-color: #F6F4F2;
}

a {
    color: #938fc6;
    font-weight: bold;
    text-decoration: none;
}

nav a /*or nav ul li a (same path - dont' need middle two as long as nav is parent of a)*/ {
    font-weight: bold;
    color: #F6F4F2;
}

nav ul {
    background-color: #425664;
    border-top: .15em solid black;
    border-bottom: .15em solid black;
    margin-top: 0;
    margin-bottom: 0;
}

    nav ul li {
        display: inline-block; /*treat this element as an inline element to allow other elements to float next to it because all three of these elements will normally take up the entire width of their container*/
    }

a:hover, a:active, a:focus, .selected {
    color: #425664;
    background-color: #F6F4F2;
    font-weight: bold;
}

nav ul li a {
    padding: .6em 1em /*1 em is normal so 2em is twice normal size, .5em is half normal size*/;
    display: block; /*padding didn't work until we moved padding from nav ul li to here and added display:block*/
}
/*stop nav*/

h1, h2 {
    color: #425664;
}

#chooseHeading {
    padding-left: 35%;
    margin-top: 1.5em;
    font-size: 3em;
}

footer {
    background-color: #C6AD8F;
    padding: 1em;
    border-top: .15em solid black;
    border-bottom: .15em solid black;
    margin: auto;
    display: inline-block;
    width: 97.7%;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

/*Images*/
.teamImage {
    height: 120px;
    width: 120px;
    float: left;
    padding-right: 1em;
}

.chooseImage {
    width: 350px;
    height: 275px;
}

#aboutImage {
    width: 25%;
    /*height: 180px;
    width: 200px;*/
    float: left;
    padding-top: 2em;
}

.classImage {
    width: 95%;
    /*width: 235px;*/
    /*height: 180px;*/
    text-align: center;
    /*padding-right: 2em;*/
    display: inline-block;
}

#logo {
    width: 25em;
}

/*Box Model*/
#aboutUs {
    float: right;
    width: 70%;
    margin-right: .5em;
    margin-top: 2.5em;
}

#aboutSection {
    width: 90%;
    margin: auto;
    padding-top: 1.5em;
    margin-bottom: 0px;
}

.clear {
    clear: both;
}

#htmlLeftImage {
    float: left;
    width: 48%;
    margin-left: 1.75em;
}

#htmlRightText {
    float: right;
    width: 42%;
    margin: 1.5em;
    margin-top: 1em;
    margin-right: 2em;
}

#htmlRightImage {
    float: right;
    width: 48%;
    margin-right: 1.75em;
    margin-bottom: 1em;
}

#htmlLeftText {
    float: left;
    width: 42%;
    margin: 1.5em;
    margin-left: 2.5em;
    margin-top: 2.5em;
}

.teamBio {
}

#teamAside {
    /*float: right;*/
    width: 25%;
    display: inline-block;
    padding-left: 1em;
    position: fixed;
}

#teamAside li {
    padding: 1em;
}

#teamAside a {
    color: #C6AD8F;
}

#teamAside a:hover {
    color: #425664;
}

#teamMainColumn {
    float: left;
    width: 72%;
    border-right: .15em solid #425664;
}

/*classes.html*/
#classSubjects {
    text-align: center;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.classLeft {
    float: left;
    width: 22%;
    margin: 3%;
    border: .15em solid #425664;
    padding: 2em;
    margin-left: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.classCenter {
    float: left;
    width: 22%;
    margin: 3%;
    border: .15em solid #425664;
    padding: 2em;
    margin-left: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.classRight {
    float: right;
    width: 22%;
    margin: 3%;
    border: .15em solid #425664;
    padding: 2em;
    margin-right: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.classesList {
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    text-decoration: underline;
}

.classDesc {
    width: 20%
}

/*Table styling*/
table, tr, th, td {
    border: 1px solid #425664;
    border-collapse: collapse; /*removes double border with space inbetween*/
}

table {
    margin: 1em;
    text-align: center; /*align all text within its parent element. center in this case*/
    margin: auto; /*margin is outside the container*/
    margin-bottom: 2em;
}

th, td {
    padding: .7em 2em .7em 2em;
}

thead {
    background-color: #AAA; /*light gray*/
}

.socialMedia {
    float: right;
    display: inline-block;
}

.socialMediaTop {
    padding: 20px;
    float: right;
}

.fa {
    /*padding: 20px;*/
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding-left: 1em;
}

.fa-facebook-square {
    /*color: #3B5998;*/
    color: #1C37AA;
}

.fa-twitter {
    /*color: #55ACEE;*/
    color: #1C9CEA;
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-home {
    padding: 0;
    font-size: 30px;
    text-align: start;
    width: 50px;
    text-decoration: none;
}

.footerP {
    display: inline-block;
    float: left;
}

#contact p {
    text-decoration: solid;
}

/*Classes / Side Navigation*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color: #C6AD8F;
    opacity: .95;
    overflow-x: hidden;
    padding-top: 100px;
    transition: .5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: .3s;
    }

        /*.sidenav a:hover {
            color: #f1f1f1;
        }*/

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.button {
    font-family: sans-serif;
    background: #C6AD8F;
    opacity: .5;
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: #425664;
    font-weight: bold;
}
